<footer id="footer" class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class=" bg-black text-light">© 2023 | GUMO EFECTOS | Curso Backend Coderhouse </p>
        </div>
    </div>
</footer>