<!DOCTYPE html>
<html lang="en">

<head>
    <%- include(`./partials/head`) %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous"> 
        <link href="/css/style.css" rel="stylesheet" type="text/css">    
</head>

<body>

    <header>
        <%- include('./partials/navbar', {current: `#`}) %>
    </header>
    <div class="attention">
        <main>
            <div class="board">
                <h3>🎁 Tu compra fue realizada con éxito, gracias: <%= userLog.username %>!</h3>
                <p> Pronto recibiras un correo con información de la misma</p>
            </div>
        </main>
    </div>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>